<div class="container">
  <h2>会員情報編集</h2>

  <%= form_with model: @customer, url:customers_information_path, method: :patch do |f| %>
  <div class="row">
  <p>氏名 <%= f.text_field :last_name %>&ensp;<%= f.text_field :first_name %></p>
  </div>

  <div class="row">
  <p>カナ <%= f.text_field :last_name_kana %>&ensp;<%= f.text_field :first_name_kana %></p>
  </div>

  <div class="row">
  <p>郵便番号 <%= f.text_field :postal_code %></p>
  </div>

  <div class="row">
  <p>住所<%= f.text_field :address %></p>
  </div>

  <div class="row">
  <p>電話番号 <%= f.text_field :telephone_number %></p>
  </div>

  <div class="row">
  <p>メールアドレス <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="row">
  <%= f.submit '編集内容を保存' %>
  <%= link_to "退会する", customers_confirm_withdraw_path %>
  <% end %>
</div>
</div>
