<h1>Public::Customers#show マイページ</h1>

  <%= form_with model: @customer do |f| %>
  <p>氏名 <%= f.text_field :last_name, :first_name %></p>
  <p>カナ <%= f.text_field :last_name_kana, :first_name_kana %></p>
  <p>郵便番号 <%= f.text_field :postal_code %></p>
  <p>住所<%= f.text_field :address %></p>
  <p>電話番号 <%= f.text_field :telephone_number %></p>
  <% end %>
