<h1>Admin::Items#show　商品詳細</h1>

<% if @item.image.attached? %>
<%= image_tag @item.image, size: "200x200" %>
<% else %>
<p>no-image</p>
<% end %>

<table>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  </tr>

  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>

  <tr>
    <td>税抜価格</td>
    <td><%= @item.price %></td>
  </tr>

  <tr>
    <td><%= link_to "編集する", edit_admin_item_path(@item.id) %></td>
  </tr>

</table>
