<h1>Admin::Customers#show 会員詳細</h1>

<h2><%= @customer.full_name %>さんの会員詳細</h2>

<table>
    <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
        <th>会員ステータス</th>
    </thead>

    <tbody>

    <tr>
        <td><%= @customer.id %></td>
        <td><%= @customer.full_name %></td>
        <!--<td>%= link_to all.last_name+' '+all.first_name, admin_customer_path(all.id) %></td>-->
        <td><%= @customer.full_name_kana %></td>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.telephone_number %></td>
        <td><%= @customer.email %></td>
        <td>
            <% if @customer.is_deleted %>
                <span>退会済み</span>
            <% else %>
                <span>有効</span>
            <% end %>
        </td>
    </tr>
        <p><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></p>
        <p><%= link_to "注文履歴一覧を見る", root_path %></p>
    </tbody>
</table>