<h1>Admin::Orders#show</h1>
<h2>注文履歴詳細</h2>

<table>
  <thead>
    <tr>
      <td>購入者</td>
      <td><%= @order.full_name %></td>
    </tr>


    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>

    <tr>
      <td>配送先</td>
      <td>
        <%= @order.address %><br>
        <%= @order.full_name %>
      </td>
    </tr>

    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>

  </thead>

  <tbody>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %> </td>
      <td><%= order_detail.item.tax_price.to_s(:delimited) %> </td>
      <td><%= order_detail.amount %> </td>
      <td><%= order_detail.subtotal.to_s(:delimited) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


  <% @order.order_details.each do |order_detail| %>
  <% @total = @total + order_detail.subtotal %>
  <% end %>
<p>商品合計  <%= @total.to_s(:delimited) %>  </p>
<p>送料  <%= @order.shipping_fee.to_s(:delimited) %>  </p>
<p>請求金額合計  <%= @order.total_due.to_s(:delimited) %>  </p>