<h1>Public::Orders#new</h1>
<h2>注文情報入力</h2>

<h3>支払い方法</h3>
<%= form_with model: @order, url: orders_check_path, method: :post do |f| %>
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %><br>

<%= f.radio_button :payment_method, "bank_transfer" %>
<%= f.label :payment_method_bank_transfer, "銀行振込" %><br>

<h3>お届け先</h3>
〒<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.full_name %>

<%= f.submit "確認画面へ進む" %>
<% end %>