<div class="container">
  <div class="row">
    <h2>注文情報入力</h2>
    </div>

<div class="row">
<h3>支払い方法</h3>
</div>
<%= form_with model: @order, url: orders_check_path, method: :post, local: true do |f| %>
<div class="row">
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %><br>
</div>

<div class="row">
<%= f.radio_button :payment_method, "bank_transfer" %>
<%= f.label :payment_method_bank_transfer, "銀行振込" %><br>
</div>

<div class="row">
<h3>お届け先</h3>
</div>
<div class="row">
〒<%= current_customer.postal_code %>
</div>
<div class="row">
<%= current_customer.address %>
</div>
<div class="row">
<%= current_customer.full_name %>
</div>

<%= f.submit "確認画面へ進む", type: 'button', onclick: 'submit();' %>
<% end %>
</div>